* {
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0 auto;
  font-family: sans-serif;
}

.intro{
  margin: 0 auto;
  background: #23424a;
  color: white;
  /* padding: 50px ; */
}

.intro-content {
  width: 50%;
  /* max-width: 450px; */

}
.container{
  width:100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 50px;
}
